# .releaserc
branches: ["master", "next"]
plugins:
  - "@semantic-release/changelog"
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/git"
  - "@semantic-release/release-notes-generator"
  - - "@semantic-release/exec"
    - successCmd: git pull --mirror git@github.com:Adaptavist/terraform-module-aws-lambda.git
    - successCmd: git push --mirror git@github.com:Adaptavist/terraform-module-aws-lambda.git